*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.Calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-color: #f0f0f0;
  padding: 100px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.btn-cal{
  background-color: #8ea4ab;
  width: 150px;
  color: white;
  border: none;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
} 

.input {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
}